<% set_title_and_breadcrumb t('user.edit', :title => @user.email) %>

<h1><%= @user.email %></h1>

<%= form_for :user,  :url => admin_user_path(@user.id), :html => {:method => :put, :id => "admin-form"} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end  %>
