/* ICONS */
.icon { line-height: 24px; text-indent:20px; background-position:top left; background-repeat:no-repeat!important;
    width: 18px; height:18px; overflow:hidden; float: left; display:block; margin:0 3px; }
.text-icon { padding:10px; padding-left:20px; background-position:center left!important; background-repeat:no-repeat!important; }
.icon-edit { background-image: image_url('icons/icon-edit.gif'); }
.icon-up { background-image: image_url('icons/icon-up.gif'); }
.icon-up-up { background-image: image_url('icons/icon-up-up.gif'); }
.icon-down { background-image: image_url('icons/icon-down.gif'); }
.icon-down-down  { background-image: image_url('icons/icon-down-down.gif'); }
.icon-destroy { background-image: image_url('icons/icon-delete.gif'); }
.icon-add { background-image: image_url('icons/icon-add.gif'); }
.icon-backward { background-image: image_url('icons/icon-backward.gif'); }
.icon-add-text { background-image: image_url('icons/icon-add-text.gif'); }
.icon-add-heading { background-image: image_url('icons/icon-add-heading.gif'); }
.icon-add-video { background-image: image_url('icons/icon-add-video.gif'); }
.icon-add-image { background-image: image_url('icons/icon-add-image.gif'); }
.icon-add-news { background-image: image_url('icons/icon-add-news.gif'); }
.icon-information { background: image_url('icons/icon-information.gif'); }
.icon-pages { background: image_url('icons/icon-pages.gif'); }
.icon-news { background: image_url('icons/icon-news.gif'); }
.icon-delete { background: image_url('icons/icon-delete.gif'); }
.icon-unpack { background: image_url('icons/icon-unpack.gif'); }
.icon-pack { background: image_url('icons/icon-pack.gif'); }
.icon-refresh { background: image_url('icons/icon-refresh.gif'); }
.icon-pause { background: image_url('icons/icon-pause.gif'); }
.icon-stop { background: image_url('icons/icon-stop.gif'); }

.public-icon-top  { background-image: image_url('public/icon-top.png'); }